h1{
    font-family: 'Dancing Script';
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: justify;
    margin: 20px;
}
#linkCatalogue{
    font-size: 2rem;
    font-family: 'Dancing Script';
}
main{

    text-align: center;
    margin-bottom: 50px;
}
.galery{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}
#product_list{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.product-container{
    display: flex;
    text-align: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}
img{
    margin:0px 5px 0px 5px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    line-height: 40px;
}


@media only screen and (max-width: 1111px){
    .product-container{
        display: flex;
        flex-direction: column;
    }
}
