body {
    margin: 0;
    padding: 0;
  }

  .mainContainer {
    max-width: 800px;
    margin: 20px auto;

  }
  
  
  #cart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  #cartImage{
    width: 100%;
    max-width: 200px;
    height: auto;
}
  #cart th, #cart td {
    padding: 8px;
    text-align: center;
  }
  
  tfoot {
    background-color: #f8f9fa;
    display: flex;
  flex-direction: column;
  }
  
  .total_cart {
    font-weight: bold;
  }
  
  #buttonContainer {
    text-align: center;
    margin-top: 20px;
  }
  .influent-price-on-change {
    background-color: #d2e5f4;
    padding: 8px;
    width: 80px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    transition: border 0.3s ease;
}
  .remove{
    background-color: #ff5c5c;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
  
#deliveryOptions {
    display: flex;
    background-color: #f8f9fa;
  }
  
  #delivery {
    display: inline-block;
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .delivery-option {
    margin-right: 5px;
  }
  
  #totalContainer {
    display: flex;
    justify-content: end;
    background-color: #f8f9fa;
    font-weight: bold;
  }
  